:root {
  --clr-navy: #122454;
  --clr-sky: #38bdf8;
  --clr-yellow: #fde047;
  --clr-orange: #f59e0b;
  --clr-rose: #be123c;
  --clr-light: #f1f5f9;
  --clr-grey: #9ca3af;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;

  --size-xs: 0.5rem;
  --size-s: 0.75rem;
  --size-base: 1rem;
  --size-l: 1.25rem;
  --size-xl: 1.5rem;
  --size-2xl: 1.8rem;
  --size-3xl: 2rem;
  --size-4xl: 2.5rem;
  --size-5xl: 3rem;
  --size-6xl: 4rem;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  font-family: 'General Sans', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
  background: none;
}

button {
  display: inline;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.addtocartpg {
  margin-top: 40px;
  background: var(--clr-sky);
  border-radius: 20px;
  padding: 20px 12px;
  box-shadow: 0px 7px 14px var(--clr-slate800), 0 5px 5px var(--clr-slate800),
    0 0 60px -5px var(--clr-slate600);
}
.addtocart h1 {
  color: var(--clr-navy);
  text-transform: uppercase;
}

.cart__container {
  border: 1px solid var(--clr-navy);
  border-radius: 5px;
  margin-top: 1em;
  padding: 1em;
}

.cart__btns {
  display: flex;
  justify-content: flex-end;
}

.btn {
  font-size: var(--size-xl);
  font-weight: 600;
  padding: var(--size-xs) var(--size-s);
  color: var(--clr-slate600);
  margin: 0 8px;
}

.btn:hover {
  background: var(--clr-orange);
  color: var(--clr-navy);
  border-radius: 10px;
}

table {
  margin-bottom: 1em;
  border-collapse: collapse;
}

table td,
table th {
  width: 100%;
  padding: var(--size-xs) var(--size-s);

  border-bottom: 1px solid var(--clr-navy);
}

strong {
  font-size: var(--size-xl);
  color: var(--clr-slate800);
  text-transform: uppercase;
}

#cart__totals {
  margin-right: 0;
  margin-left: auto;
}

.upload {
  background: var(--clr-orange);
  color: var(--clr-navy);
  border-radius: 10px;
}

.upload:hover {
  background: var(--clr-grey);
  color: var(--clr-navy);
}
