:root {
  --clr-navy: #122454;
  --clr-sky: #38bdf8;
  --clr-yellow: #fde047;
  --clr-orange: #f59e0b;
  --clr-rose: #be123c;
  --clr-light: #f1f5f9;
  --clr-lightgrey: #c6cbd2;
  --clr-grey: #9ca3af;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;

  --size-xs: 0.5rem;
  --size-s: 0.75rem;
  --size-base: 1rem;
  --size-l: 1.25rem;
  --size-xl: 1.5rem;
  --size-2xl: 1.8rem;
  --size-3xl: 2rem;
  --size-4xl: 2.5rem;
  --size-5xl: 3rem;
  --size-6xl: 4rem;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  font-family: 'General Sans', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
  background: none;
}

button {
  display: inline;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.addtocartpg {
  display: none;
}

.sliding {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img__slider {
  position: relative;
  width: 100%;
  height: 520px;
}

.slide {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: inset(0 100% 0 0);
}

.slide.active {
  clip-path: inset(0 0 0 0);
  transition: 2s;
  transition-property: clip-path;
}

.slide img {
  display: block;
  max-width: 700px;
  border-radius: 7px;
  z-index: 1;
}

.info {
  top: 0;
  position: absolute;
  margin-top: 20px;
  margin-left: 25px;
  z-index: 1;
}

.info p {
  font-size: var(--size-2xl);
  font-weight: 900;
  color: var(--clr-slate800);
  margin-top: 200px;
  background: rgb(56, 189, 248, 0.6);
  padding: 0.25rem 0.5rem;
}

.slider__nav {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}

.slider__btn {
  width: 10px;
  height: 10px;
  background: var(--clr-slate600);
  border-radius: 50%;
  margin-left: 6px;
}

.slider__btn.active {
  background: var(--clr-sky);
  box-shadow: 0 0 2px var(--clr-slate600);
}

.bundle {
  padding-top: 2rem;
  position: relative;
  overflow: hidden;
}

#promos {
  font-size: var(--size-3xl);
  font-weight: 700;
  text-transform: uppercase;
  background: var(--clr-navy);
  color: var(--clr-orange);
  width: 100%;
  padding: 0.5rem 3rem;
  border-radius: 12px 12px 0 0;
  text-shadow: 2px 2px 3px var(--clr-slate600);
}

.promo {
  background: linear-gradient(rgb(227, 229, 232), var(--clr-light));
}

.promo.slider {
  grid-auto-columns: 400px;
  gap: var(--size-base);
}

.promo__card {
  height: 120px;
  background: var(--clr-grey);
  border-radius: 15px;
  display: flex;
  box-shadow: 0px 2px 5px var(--clr-slate800), 0 1px 1px var(--clr-slate800),
    0 0 15px -1px var(--clr-slate600);
}

.promo__card__img {
  background: var(--clr-navy);
  padding: 1.5rem 0.8rem;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
  position: relative;
  width: 40%;
}

.promo__card__img h4 {
  position: absolute;
  background: rgb(56, 189, 248, 0.6);
  top: 0;
  left: 0;
  padding: 2px 10px;
  border-radius: 0 0 6px 0;
  font-size: var(--size-l);
  font-weight: 700;
}

.promo__card__img img {
  position: absolute;
  object-fit: cover;
}

.promo__card__text {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 1rem;
}

.promo__card__text h4 {
  font-size: var(--size-base);
  color: var(--clr-slate800);
  font-weight: 800;
}

.promo__card__text p {
  font-size: var(--size-s);
  color: var(--clr-slate800);
}

.promo__card__text .addtocart__btn {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}

.bundle_nxt_btn,
.bundle_pre_btn {
  bottom: 40px;
}

.print {
  padding-top: 2rem;
  position: relative;
}

.offer__title {
  font-size: var(--size-2xl);
  font-weight: 700;
  text-transform: uppercase;
  background: var(--clr-sky);
  color: var(--clr-navy);
  width: 100%;
  padding: 0.5rem 3rem;
  border-radius: 12px 12px 0 0;
  text-shadow: 2px 2px 2px var(--clr-grey);
}

.offer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 35px;
  gap: 40px;
  background: linear-gradient(rgb(227, 229, 232), var(--clr-light));
}

.offer__subtitle {
  padding: 16px 28px;
  font-size: var(--size-l);
  color: var(--clr-slate800);
  background: rgb(227, 229, 232);
}

.offer__card {
  background: var(--clr-sky);
  border-radius: 7px;
  width: 100%;
  height: 50vw;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 5px var(--clr-slate800), 0 1px 1px var(--clr-slate800),
    0 0 15px -1px var(--clr-slate600);
}

.offer__card__img {
  background: var(--clr-navy);
  padding: 1.5rem 0.8rem;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.offer__card__img img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
}

.offer__card__text {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 1.2rem;
}

.offer__card__text h4 {
  font-size: var(--size-xl);
  color: var(--clr-slate800);
  font-weight: 800;
  letter-spacing: 0.05rem;
  align-self: center;
}

.offer__card__text p {
  font-size: var(--size-base);
  color: var(--clr-slate800);
  margin-top: var(--size-s);
  letter-spacing: 0.05rem;
  align-self: center;
}

.learnmore {
  text-decoration-color: none;
  font-size: var(--size-s);
  color: var(--clr-slate800);
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  align-self: end;
}

.info__expand {
  position: absolute;
}

.page1 {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(5, 1fr);
}

.page1 .grid1 {
  grid-column: 4 span;
}

#papers {
  font-size: var(--size-4xl);
  background: linear-gradient(1.8turn, var(--clr-lightgrey), var(--clr-light));
  padding: 0 1.8rem;
  color: var(--clr-slate800);
  text-shadow: 2px 2px 3px var(--clr-grey);
}

.papers {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.papers__card {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(var(--clr-lightgrey), var(--clr-light) 72%);
  margin-bottom: 1rem;
}

.papers__card__img {
  position: relative;
}

.papers__card__description {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(56, 189, 248, 0.8);
  text-align: center;
  opacity: 0;
}

.papers__card__description ul {
  position: relative;
  display: inline-block;
  text-align: justify;
  top: 50%;
  transform: translateY(-50%);
  color: var(--clr-slate800);
}

.papers__card__description ul li {
  font-size: var(--size-base);
  font-weight: 600;
}

.papers__card__description:hover {
  opacity: 1;
}

.papers__card__text {
  position: relative;
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.papers__card__text h4 {
  font-size: var(--size-xl);
  font-weight: 600;
  color: var(--clr-slate800);
  text-shadow: 1px 1px 2px var(--clr-grey);
}

.papers__card__text h5 {
  font-size: var(--size-xl);
  font-weight: 600;
  color: var(--clr-navy);
  align-self: self-start;
}

.papers__card__text > p {
  padding: 0.8rem 0.5rem;
}

.papers__card__line {
  border: 1px solid var(--clr-sky);
  padding: 0 6rem;
}

.papers__card__text .addtocart__btn {
  position: absolute;
  bottom: 0;
  right: 5%;
}

.cloth__prints {
  width: 100%;
  padding-top: 2rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

#clothes,
#p3d {
  font-size: var(--size-4xl);
  background: linear-gradient(1.8turn, var(--clr-lightgrey), var(--clr-light));
  padding: 0 1.8rem;
  color: var(--clr-slate800);
  text-shadow: 2px 2px 3px var(--clr-grey);
}

.clothes {
  padding: 1rem 0;
}

.clothes.slider {
  grid-auto-columns: 250px;
  gap: var(--size-xl);
}

.cloth__card {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  background: linear-gradient(0.45turn, var(--clr-lightgrey), var(--clr-light));
}

.cloth__card__img {
  overflow: hidden;
  position: relative;
  height: 380px;
  width: 250px;
  display: flex;
  align-content: center;
}

.cloth__card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cloth__card__text {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.cloth__card__text h4 {
  font-size: var(--size-xl);
  font-weight: 900;
  color: var(--clr-slate800);
  text-transform: uppercase;
}

.cloth__card__text li {
  list-style: none;
}

.cloth__card__text li {
  font-size: var(--size-base);
  font-weight: 600;
  color: var(--clr-slate600);
}

.cloth__prints h5 {
  font-size: var(--size-xl);
  color: var(--clr-navy);
  font-weight: 600;
}

.cloth__card__text .addtocart__btn {
  position: absolute;
  bottom: 0;
  right: 5%;
}

.cloth__grid {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding: 1.2rem 0;
}

.cloth__grid__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  gap: 1rem;
}

.cloth__grid__img {
  position: relative;
  width: 200px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.cloth__grid__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cloth__grid h5 {
  font-size: var(--size-xl);
  text-transform: uppercase;
  color: var(--clr-slate800);
}

.p3d__print__card {
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.p3d__img {
  width: 300px;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p3d__img img {
  width: 120%;
  height: 120%;
  object-fit: cover;
}

.p3d__txt {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p3d__txt h5 {
  font-size: var(--size-4xl);
  color: var(--clr-navy);
}

.p3d__txt p {
  font-size: var(--size-xl);
  color: var(--clr-slate600);
}

.tarp__prints {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

#tarps {
  font-size: var(--size-4xl);
  background: linear-gradient(1.8turn, var(--clr-lightgrey), var(--clr-light));
  padding: 0 1.8rem;
  color: var(--clr-slate800);
  text-shadow: 2px 2px 3px var(--clr-grey);
}

.tarp__prints > p {
  font-size: var(--size-l);
  padding: 1rem 0.8rem;
  color: var(--clr-slate600);
}
.tarps {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.tarp__card {
  display: flex;
  width: 400px;
  height: 100px;
  background: linear-gradient(0.22turn, var(--clr-sky), var(--clr-light));
}

.tarp__card__img {
  display: flex;
  width: 40%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
}

.tarp__card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tarp__card__txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.tarp__card__txt h5 {
  font-size: var(--size-2xl);
  font-weight: 800;
}

.tarp__card__txt p {
  font-size: var(--size-xl);
}
@media (max-width: 1440px) {
}
@media (max-width: 768px) {
  .img__slider {
    height: 72vw;
  }

  .slide img {
    min-width: 425px;
    max-width: none;
  }

  #promos,
  #offers,
  #papers,
  #tarps,
  #clothes,
  #p3d {
    font-size: var(--size-2xl);
  }

  .offer__card__text {
    height: 200px;
  }

  .page1 {
    display: flex;
    flex-direction: column-reverse;
  }

  .offer__card {
    width: 44%;
    height: 300px;
  }

  .p3d__print__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .p3d__img {
    width: 100%;
    height: 120px;
    overflow: hidden;
  }

  .p3d__img img {
    width: 200%;
    height: 200%;
    object-fit: cover;
  }

  .p3d__txt {
    width: 100%;
  }

  .p3d__txt h5 {
    font-size: var(--size-2xl);
  }

  .p3d__txt p {
    font-size: var(--size-l);
  }

  .tarp__card__txt h5 {
    font-size: var(--size-l);
    font-weight: 800;
  }

  .tarp__card__txt p {
    font-size: var(--size-base);
  }
}

@media (max-width: 425px) {
  .img__slider {
    height: 320px;
  }

  .slide img {
    min-width: none;
  }

  .info {
    margin-top: -30px;
    margin-left: 0;
  }

  .offer__card {
    height: 300px;
  }

  .p3d__txt {
    padding: 1rem 0.8rem;
  }

  .p3d__txt h5 {
    font-size: var(--size-l);
  }

  .p3d__txt p {
    font-size: var(--size-base);
  }
}
